dagster
dagster-webserver
dagster-docker
geopandas
shapely
dbt
dagster-dbt
duckdb
dagster
dagster-webserver
openpyxl
dbt-core
dbt-bigquery
datetime
pandas-gbq
dbt-duckdb
dagster-gcp
dagster-gcp-pandas
dagster-postgres
dagster-duckdb
dagster-duckdb-pandas
jupyterlab